body {
  margin: 0px;
  padding:0px;
  font-family: Arial, Helvetica, sans-serif;
 /*background-color: #F0FFFF; */
  color: #000;
  font-weight: bold;
 
}

/*Nav Background And Sticky Nav*/
.nav li {
    display: inline;
    list-style: none;
    padding: 0;
}
 


.navright {
    margin-left: auto;
    order: 2;
}
.so {
	width:250px;
}
/*Nav Buttons*/


/*Nav Hover*/
.open-button:hover{
  background-color: #fbbccd;
  font-weight: bold;
  color: black;
}



.content {
	background-image: url('../background.jpg');
	background-size: cover;
	background-position: center;
}

/*Slideshow*/
.slide {
    width: 100%;
	height:400px;
    display: none;
}

.titles {
    text-align: center;
}

.infoFA {
    background-color: #fc8eac;
}

.content {
    padding: 0px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
/*For services page*/
.services {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap:30px;
	
	}
.services-inner {
	text-align: center;
	
	margin-left:50px;
	margin-right:50px;
	}
.services>h1{
	grid-column: 1/3;
	text-align:center;
	}
.services img {
	height:200px;
	width:320px;
	}
/*For registration page*/
.sor {
	display: grid;
	grid-template-columns: 45% 45%;
	margin-top:30px;
	grid-gap:50px;
	text-align:center;
	}

.BOF {
	text-align:justify;
	margin-left:50px;
	padding:15px 15px;
	background-color:#F3EEED;
}
.BOF img{
	height:250px;
	width: 300px;
	margin-left:25%;
}
.register {
	text-align: center;
	background-color:#F3EEED;
	}

.input-container {

	display: -ms-flexbox; /* IE10 */
	display: flex;
	width: 100%;
	margin-bottom: 15px;
	}
.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
  		
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.btn:hover {
  opacity: 0.5;
}

.extrafeature {
	display: grid;
	grid-template-columns: auto auto;
	width:50%;
	grid-gap: 50px;
	margin-left:300px;
	}
.feature-inner {
	text-align: center;
	background-color:#F3EEED;
	}

.extrafeature img {
	height:150px;
	}
/*Login Modal*/
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color:#ccffff;
   font-weight: bold;
   font-size:20px
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top:55px;
  right: 2px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
/*Contact Us*/
.contactus {
	display: grid;
	grid-template-columns: auto auto;
	width:50%;
	grid-gap: 50px;
	margin-left:300px;
	margin-top:30px;
	}
.contactus-inner {
	padding:10px 10px;
	background-color:#F3EEED;
	}

.socialmedia {
	text-align:center;
	}
.socialmedia .fa {
  padding: px;
  font-size: 30px;
  width: 30px;
  
  text-decoration: none;
  margin: 5px 2px;
}

.socialmedia .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
/*Accommodation Page*/

.accommodation {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap:30px;
	
	}
.accommodation-inner {
	text-align: center;
	
	margin-left:50px;
	margin-right:50px;
	background-color:#F3EEED;
	}
.accommodation >h1{
	grid-column: 1/3;
	text-align:center;
	}
.accommodation-inner img {
	height:150px;
	Width: 200px;
	}
